:root{
    font-size: 16px;
    /* font-family: 'open san'; */
    --text-primary: #b6b6b6;
    --text-secondary: ececec;
    --bg-primary: #b209e5;
    --bg_secondary: #141418;
}
/*comienzo barra de navegacions*/
body::-webkit-scrollbar{
    width: 0.25em;
}
body::-webkit-scrollbar-track{
    background: var(--bg_secondary);
}
body::-webkit-scrollbar-thumb{
    background:var(--bg-primary);
}
body{
    background:#eee;
}
/*top styles*/
#top{
    background: var(--text-primary);
    margin-bottom: 0;
}
#top .offer{
    color: #ffffff;
}
#top .offer .btn{
    text-transform: uppercase;
}

@media(max-width:576px){
    #top {
        font-size:12px;
        text-align:center;
    }
}
#top a{
    color: #fff;
}
#top ul.navbar{
    padding-top: 5px;
    margin: 0px;
    text-align: right;
    font-size: 12px;
    list-style: none;
}
@media (max-width: 576px) {
    #top ul.navbar{
        text-align: center;
    }
}
#top ul.navbar > li{
    display: inline-block;
}
#top ul.navbar > li a {
    color: #eeeeee;

}
#top ul.navbar > li + li:before{
  
    color: #f7f7f7;
    padding: 0 5px;
}
/*end top styles*/
/*Body */
/*star modal*/
.myform{
    max-width: 100%;
}
.modal-body{
    padding:0px;
}

.btn-close{
    position:absolute;
    right:0;
    padding: 1em;

}
.modal.content{
    width:80%;
    margin: 0px auto;
}
.modal-body{
    padding: 0px
}
.btn-close{
    padding: 0px
}
h1{
    font-size: 2.3em;
    font-weight: bold;
}
.myform{
    padding:2em;
    max-width: 100%;
    color: #fff;
    box-shadow: 0 4px 6px 0px rgba(7, 100, 18, 0.293);
    @media(max-width:576px){
        max-width:90%;
        margin:0px auto;
    }
}
.form-control{
    background-color: inherit;
    color: #fff;
    padding-left: 0px;
    border: 0px;
    border-bottom: 1px solid #fff;
}
.myform .btn{
    width: 100%;
    font-weight: 800;
    background-color: #fff;
    border-radius: 0;
    padding: 0.5em 0;
}
.myform .btn:hover {
    color: #333;
}
#signup p  {
    text-align:center;
    padding-top: 2em;
    color: grey;
}
#signup p a{
    color: #e1e1e1;
    text-decoration: none;

}
p a:hover{
    color:#fff;
}
.wrapper{
    border-top:03px solid green;
}
.wrapper a{
    text-decoration: none;
    color:green;
}
.wrapper h2{
    color: #fff;
}

/*end modal*/

/*start slide*/
.slide{
    margin-top: 10px;
}
.home .slide img{
    height:65vh;
}
@media(max-width: 767px){
	.home .slide img{
        height:35vh;
    }
}/*end slide*/

/*tarjeta de productos general*/
.card {
    margin-top: 10px;
}
.product-type{
    font-size:13px;
    opacity:0.8;
}
.product-name{
    color:black;
}
.product-name:hover{
    color:var(--bg-primary);
}
.product-price{
    color: var(--bg-primary);
}
/* fin tarjeta de productos general*/

/*fondo tarjeta benevicio*/
.icon{
    filter: invert(100%) sepia(2%) saturate(590%) hue-rotate(135deg) brightness(99%) contrast(87%);
}



/*fin de index */

/*comercializacion*/
/*acordeon de preguntas*/
.accordion-item{
    border: 1px solid rgba(35, 65, 100, 0.15);
  
}
.accordion-button:not(.collapsed){
    color: inherit;
    background:#1f6b21;
    color:#e8e8e8;

}

.accordion-button:not(.collapsed)::after{
    filter: brightness(0%) invert(70%);
}
.accordion-button:focus{
    box-shadow: inherit;
}

@media(max-width:767px){
    .accordion-button h2{
        font-size:calc(.95rem +1.5v);
    }
}


